<h1><%= @task.title %></h1>

<h2>Details:</h2>
<p><%= @task.details %></p>
<h2>Compelted:</h2>
<p><%= @task.completed %></p>

<%= link_to "Edit!", task_edit_path(@task) %>
<%= link_to "Show all Tasks!", tasks_path %>